html{
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10pt;
    text-align: center;
}
h1{
    text-align: center;
    font-size: 3rem;
}

li{
    text-align: left;
    
}
